[submodule "public"]
	path = public
	url = https://github.com/chandraharsha111/chandraharsha111.github.io.git
	branch = main
[submodule "hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile 